{% extends 'coder/base.html' %}
{% block titulo%} Buscar consultas médicas {% endblock %}
{% block contenido %}
  
  <form action="/consultas/buscar" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Buscar">
  </form>

  {% for consulta in consultas_medicas %}
      <ul>
          <li>{{consulta.especialidad}}, Médico: {{consulta.medico}}, Días de consulta: {{consulta.dias_consulta}}</li>
      </ul>
  {% endfor %}
  
  <br>  <a href="{% url 'principal' %}">Volver</a>
{% endblock %}