{% extends 'coder/base.html' %}
{% block titulo%} Principal {% endblock %}
{% block contenido %}

  <a href="{% url 'pacientes-list' %}">-Lista de pacientes-</a>
  <a href="{% url 'nuevo-paciente' %}">-Nuevo paciente-</a>
  <a href="{% url 'buscar-paciente' %}">-Buscar paciente por nombre-</a><br><br>

  <a href="{% url 'funcionarios-list' %}">-Lista de funcionarios-</a>
  <a href="{% url 'nuevo-funcionario' %}">-Nuevo funcionario-</a>
  <a href="{% url 'buscar-funcionario' %}">-Buscar por N° de funcionario-</a><br><br>

  <a href="{% url 'conultas-list' %}">-Lista de consultas-</a>
  <a href="{% url 'agregar-consulta' %}">-Agregar consulta-</a>
  <a href="{% url 'buscar-consulta' %}">-Buscar consulta por especialidad-</a>

  

  
{% endblock %}